<h1>Persons</h1>
	<button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#addPerson">Add Person
	</button>
<div class="accordion my-3" id="forms">
	<div class="collapse" id="addPerson" data-bs-parent="#forms">
		<form action="/add" method="post">
			<div class="row align-items-end">
				<div class="col mb-3">
					<label for="firstName">First Name</label>
					<input type="text" name="firstName" class="form-control" pattern="^[A-z'-\s]+$" required />
				</div>
				<div class="col mb-3">
					<label for="lastName">Last Name</label>
					<input type="text" name="lastName" class="form-control" pattern="^[A-z'-\s]+$" required />
				</div>
			</div>
			<div class="row align-items-end">
				<div class="col mb-3">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required />
				</div>
				<div class="col mb-3">
					<label for="phone">Phone</label>
					<input type="tel" name="phone" class="form-control" pattern="^\+?\d{0,3}\s?\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}$" required />
				</div>
				<div class="col mb-3">
					<label for="department">Department</label>
					<input type="text" name="department" class="form-control" pattern="^[A-z\d\s&'-]+$" required />
				</div>
			</div>
			<div class="row justify-content-end">
				<div class="col mb-3 d-grid">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="card mb-3">
	<div class="table-responsive">
		<table class="table mb-0">
			{{#if data}}
			<thead>
				<th scope="col">ID</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Email</th>
				<th scope="col">Phone</th>
				<th scope="col">Department</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<th scope="row" class="align-middle">{{id}}</th>
						<td class="align-middle">{{firstName}}</td>
						<td class="align-middle">{{lastName}}</td>
						<td class="align-middle">{{email}}</td>
						<td class="align-middle">{{phone}}</td>
						<td class="align-middle">{{department}}</td>
						<td><a href="/update?id={{id}}"><button class="btn btn-outline-primary">Update</button></a></td>
						<td><a href="/delete?id={{id}}"><button class="btn btn-outline-danger">Delete</button></a></td>
					</tr>
				{{/each}}
			{{else}}
					<tr>
						<td colspan="4">No persons available. Try adding one!</td>
					</tr>
			{{/if}}
			</tbody>
		</table>
	</div>
</div>
{{#if showReturnToTop}}
	<a href="#top"><button type="button" class="btn btn-outline-dark">Return to top</button></a>
{{/if}}